<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/header/css")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">@Html.Action("NamePartial", "Home")</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/Users/Logout">Đăng xuất </a>

                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </div><!-- end-navbar-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 padding-hori-0">
                <div class="list-group">
                    <a class="list-group-item" href="/Students/ShowCountResult">TRANG CHỦ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
                    <a class="list-group-item" href="/Students/ShowInforStudent">TRANG CÁ NHÂN<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
                    <a class="list-group-item" href="/Students/ShowListSubject">KHÓA HỌC CỦA TÔI<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
                </div>
            </div><!--end-left-menu-->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
                <div class="content-dashboard">
                    @RenderBody()
                </div>
            </div><!--end-main-dashboard-->
        </div>
    </div><!-- end-body-page-->
    <hr>
    @Scripts.Render("~/footer/js")

</body>
</html>