<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Teacher_Student/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header-page">
        @Html.Action("NamePartial","Home")
        <a href="/Users/Logout"> Đăng xuất</a>  
     </div>
    <div class="wrapper">
        <div class="content-right">
            <div class="ContentAjax"></div>
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>