body {
}

.header-page {
    height: 100px;
    color: blueviolet;
    background: blue;
}

.wrapper {
    display: flex;
}

.content-left {
    height: 1000px;
    width: 15%;
   
    box-sizing: border-box;
}

.content-right {
    height: 2000px;
    width: 85%;
   
    box-sizing: border-box;
}

.header-page h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: inline-block;
}

.header-page {
    text-align: center;
    font-size: 30pt;
    color: white;
}

    .header-page a {
        float: right;
        padding-top: 29px;
        font-size: 18pt;
        margin-right: 33px;
        color: white;
    }
.header-table {
    display: flex;
}

.item-header {
    border: 1px solid gainsboro;
    text-align: center;
    background: #8dd2cf;
    height: 38px;
    vertical-align: middle;
    line-height: 38px;
    font-weight: bold;
    border-left: none;
    border-right: none;
}

td {
    text-align: center;
}

.item-header.stt {
    width: 55px;
}

.item-header.hoten {
    width: 268px;
}

.item-header.mssv {
    width: 134px;
}

.item-header.ngaysinh {
    width: 146px;
}

.item-header.khoahoc {
    width: 252px;
}

.item-header.email {
    width: 271px;
}

.content-table {
    overflow: auto;
    height: 600px;
}
.menu-trang li {
    display: inline;
}

.menu-trang {
    text-align: center;
}
th {
    text-align: center;
}
li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 15px;
    background: #f9f9f9;
    display: block;
    color: blue;
    /* text-align: center; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 4px;
    border: 1px solid;
}
.pagination li{
    border:none;
}
*{}
.search .btn-default {
    position: absolute;
    right: 16px;
    top: 109px;
    background: #cbf1ec;
    width: 75px;
    line-height: 16px;
    height: 44px;
    border-radius: 0;
    border: 1px solid blue;
    padding: 0px;
}
input#txtTimKiem {
    position: absolute;
    right: 90px;
    top: 109px;
    width: 222px;
    height: 44px;
    border: 1px solid blue;
    padding: 14px;
}