
* {
    font-family: Poppins-Regular, sans-serif;
}

.top-bar {
    height: 60px;
    background-color: #f7ed79;
}

input {
    background-color: #fff;
    border: 1px solid green;
    border-radius: 20px;
    line-height: 32px;
    padding: 5px;
    padding-left: 40px;
    margin: 10px 0px;
}

    input:focus {
        outline: none;
    }

.btn {
    margin: 10px;
}

    .btn:hover {
        background-color: black;
        color: white;
    }

.glyphicon {
    position: relative;
    left: -210px;
}

.login-box {
    background-color: #9dcb8d;
    height: calc(100vh - 120px);
}

.login-form {
    padding-top: 120px;
}

.bottom-bar {
    height: 60px;
    background-color: #f7ed79;
    padding: 20px 0px;
}

.title {
    font-family: Poppins-Bold, sans-serif;
    font-size: 20px;
}
