@model UET_BTL_VERSION_1.Models.User
@{
    Layout = null;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2>Đăng nhập</h2>
    <h1>@ViewBag.ThongBao</h1>
    <form action="/Users/Login" method="post">
        <table>
            <tr>
                <td>Tên đăng nhập:</td>
                <td><input type="text" name="username" value="" /></td>
            </tr>
            <tr>
                <td> Mật khẩu:</td>
                <td> <input type="password" name="password" value="" /></td>
            </tr>
            <tr>
                <td> </td>
                <td> <input type="submit" name="submit" value="Submit" /></td>
            </tr>
        </table>
         
       
    </form>
</body>
</html>
