

@{


    if (ViewBag.position == "Teacher")
    {
        <a class="list-group-item" href="/Teachers/ShowCountResult">TRANG CHỦ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
        <a class="list-group-item" href="/Teachers/ShowInforTeacher">TRANG CÁ NHÂN<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/Teachers/ShowListSubject">DANH SÁCH HỌC PHẦN<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
    }
    else if (ViewBag.position == "Student")
    {
        <a class="list-group-item" href="/Students/ShowCountResult">TRANG CHỦ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
        <a class="list-group-item" href="/Students/ShowInforStudent">TRANG CÁ NHÂN<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/Students/ShowListSubject">KHÓA HỌC CỦA TÔI<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
    }
    else
    {
        <a class="list-group-item" href="/Home/Index">Trang chủ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
        <a class="list-group-item" href="/Teachers/Index">Quản lý giảng viên<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/Students/Index">Quản lý sinh viên<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/Subjects/Index">Quản lý lớp học phần<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/ContentSurveys/Index">Quản lý phiếu đánh giá<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
    }
}
