h2 {
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.padding-hori-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.items {
    margin: 0 10px;
}

.review-quantity .thumbnail {
    background-color: #D44844;
    height: 180px;
    width: 100%;
}

.teacher-quantity .thumbnail {
    background-color: #236AA1;
    height: 180px;
    width: 100%;
}

.student-quantity .thumbnail {
    background-color: #D8DB5C;
    height: 180px;
    width: 100%;
}

.online-quantity .thumbnail {
    background-color: #877575;
    height: 180px;
    width: 100%;
}

.list-group {
    height: 90vh;
    border-right: 1px solid #ddd;
    margin-bottom: 0px;
}

    .list-group .list-group-item {
        border-radius: 0px;
        border-right: 0px;
        cursor: pointer;
        background: #8fb8dc;
        padding-top: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
    }

a.list-group-item {
    color: #100000;
}

.content-dashboard {
    margin: 0 20px;
}

hr {
    margin-top: 0px;
}

.items .glyphicon {
    color: #fff;
    top: 50%;
    position: absolute;
    right: 0px;
    font-size: 65px;
    width: 100px;
}

.thumbnail {
    text-transform: uppercase;
    font-size: 30px;
}

    .thumbnail p {
        color: #fff;
    }

.arrow-right {
    position: absolute;
    float: right;
    right: 6px;
    top: 38%;
}

.notification {
    color: #fff;
    height: 20px;
    padding-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 990px) {
    .list-group {
        height: 100%;
    }
}

.menu-trang li {
    display: inline;
}

.menu-trang {
    text-align: center;
}

* {
}

.input-search {
    margin-top: 20px;
    border: 1px solid blue;
}

.Active {
    background: blue;
    color: white;
}
