@using WebSiteBanSach.Models;
@model  List<NhaXuatBan>
@{
    ViewBag.Title = "DanhMucNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@{
    foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoNXB","NhaXuatBan",new { @MaNXB = item.MaNXB })"> @item.TenNXB </a>
        <br />
    }
}

